html {
  height: 100%;
  text-align: center;

}

.instructions {
width:400px;
}
h5{
  margin:10px;
}

.game-container {
  display: flex;
  justify-content: center;
  border: 2px solid grey;
  width: 900px;
  height:620px;

}

ul {
  list-style: none;
  display:flex;
  flex-flow: column;
  align-items: center;
}
