html {
  height: 100%;
  text-align: center;
  font-family: 'Libre Baskerville', serif;


}

.instructions {
width:400px;
}

h1{
/*margin-top: 10px;*/
margin-bottom: 15px;
}

h5{
  margin:10px;
  font-family: 'Poppins', sans-serif;
}

.game-container {
  display: flex;
  justify-content: center;
  border: 2px solid grey;
  width: 900px;
  height:620px;

}

.control-stat {
  display: flex;
  flex-direction: row;
  height: 240px;
}

/*controls {

}*/
ul {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  display:flex;
  flex-flow: column;
  align-items: center;
}
